<head>
  {% if page.title %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/w3-theme-blue-grey.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax-highlight.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet">   <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>