<div class="w3-sidebar w3-theme w3-card-4" style="width: 300px; top: 0;" id="mySidebar">
    <div class="w3-bar-block">
        
        {% for doc in site.docs %}
        <a class="w3-bar-item w3-button w3-theme" href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
        {% endfor %}
        
        <a class="w3-bar-item w3-button w3-theme" href="javascript:void(0)">Home</a>
        <div class="w3-dropdown-hover">
            <a class="w3-button" href="javascript:void(0)">Dropdown <i class="fa fa-caret-down"></i></a>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a class="w3-bar-item w3-button" href="javascript:void(0)">Link 1</a>
                <a class="w3-bar-item w3-button" href="javascript:void(0)">Link 2</a>
                <a class="w3-bar-item w3-button" href="javascript:void(0)">Link 3</a>
            </div>
        </div>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
    </div>
</div>