<div class="w3-sidebar w3-card-4" style="width: 300px; top: 0;" id="mySidebar">
    
    <div class="w3-bar-block">

        <div id="site-title" class="w3-center w3-padding-16">
            <a href="{{ site.baseurl }}/"><h4 style="margin: 0;">{{ site.title }}</h4></a>
        </div>

        {% assign docs = site.docs | sort: "serial" %}
        {% for doc in docs %}
        
        {% if doc.heading %}
        <p class="w3-block w3-left-align doc-heading">{{ doc.heading }}</p>
        {% endif %}
        
        <!-- <a href="{{ site.baseurl }}{{ doc.url }}" class="doc-button w3-block w3-left-align"  title="{{ doc.title }}" style="text-overflow: ellipsis;">
            <i class="w3-button w3-small fas fa-caret-down"></i> {{ doc.title }}
        </a> -->
        <div class="w3-block">
            <a href="{{ site.baseurl }}{{ doc.url }}"
                class="w3-block w3-left-align doc-button" title="{{ doc.title }}">
                {{ doc.title }}
            </a>
        </div>
        
        {% if doc.title == page.title %}
        <div id="{{ doc.title }}">
            <div id="table-of-contents" style="background-color: #607b88;">
                {% include toc.html html=content class="section-nav" item_class="toc-entry" h_min=1 h_max=1 %}
            </div>
        </div>
        {% endif %}

        {% endfor %}
    </div>
</div>