body {
    background-color: white;
}

html,
body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Open Sans", sans-serif;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Slab";
    font-weight: bold;
}

p, a, li {
    font-size: 18px;
    color: #333;
}

a {
    text-decoration: none;
    color: #4d636f;
}

img, iframe {
    width: 100%;
    vertical-align: middle;
}

#main {
    margin-left: 300px;
}

/* Lists */
ul, ol {
    padding-left: 16px;
}
li {
    margin-bottom: 8px;
}
li > ul, li > ol {
    margin-top: 16px;
}
.task-list-item {
    display: flex;
    align-items: center;
}
.task-list-item-checkbox {
    margin-right: 0.6em;
    box-sizing: border-box;
    padding: 0;
}
/* Lists */

/* Code */
code,
.code > pre {
    font-family: "Fira Code";
}
p > code,
h1 > code,
h2 > code,
h3 > code,
h4 > code,
h5 > code,
h6 > code {
    background-color: #f5f7f8;
    border: 1px solid #becbd2;
    /* border-radius: 4px; */
}
p > code {
    color: crimson;
}
.codebox {
    /* border-radius: 4px; */
}
.code-name {
    /* border-top-right-radius: 4px; */
    /* border-top-left-radius: 4px; */
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0;
}
.highlight {
    margin: 0;
    /* border-radius: 4px; */
}
.highlight > pre {
    margin: 0;
    padding: 16px;
    overflow-x: auto;
}
/* Code End */

/* Notes */

.note {
    /* border-radius: 4px; */
    background-color: #dfe5e8;
    border-left: 5px solid #7d97a5;
    padding: 16px;
    overflow-x: auto;
}

.info {
    /* border-radius: 4px; */
    background-color: #fff3cd;
    border-left: 5px solid #ffcd37;
    padding: 16px;
    overflow-x: auto;
}

.warning {
    /* border-radius: 4px; */
    background-color: #fdd9d6;
    border-left: 5px solid #f6665c;
    padding: 16px;
    overflow-x: auto;
}
/* Notes End */

.btn {
    color: #fff;
    background-color: #57707d;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.btn:hover {
    background-color: #7d97a5;
}
.btn-red {
    color: #fff;
    background-color: #f32617;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.btn-red:hover {
    background-color: #f6665c;
}
.btn-green {
    color: #fff;
    background-color: #459c48;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.btn-green:hover {
    background-color: #6ec071;
}
.btn-info {
    color: #333;
    background-color: #becbd2;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.btn-info:hover {
    background-color: #dfe5e8;
}
/* Buttons */

/* Labels */
.label,
.label-blue {
    display:inline-block;
    padding-top:0.16em;
    padding-right:0.56em;
    padding-bottom:0.16em;
    padding-left:0.56em;
    margin-right:.5rem;
    margin-left:.5rem;
    color:#fff;
    text-transform:uppercase;
    vertical-align:middle;
    background-color:#57707d;
    font-size:13px !important;
    /* border-radius:12px */
}
.label-blue {
    background-color:#2869e6
}
.label-green {
 background-color:#009c7b
}
.label-purple {
 background-color:#5e41d0
}
.label-red {
 background-color:#e94c4c
}
.label-yellow {
 color:#44434d;
 background-color:#f7d12e
}
/* Labels End */

/* Table */
#doc-content > table,
.code-example > table{
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
    display:table;
    border:2px solid #becbd2;
    margin-bottom: 32px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.12),0 3px 10px rgba(0,0,0,0.08);
}
#doc-content > table > thead > tr,
#doc-content > table > tbody > tr,
.code-example > table > thead > tr,
.code-example > table > tbody > tr{
    border-bottom:1px solid #f5f7f8
}
#doc-content > table > thead > tr:nth-child(odd),
#doc-content > table > tbody > tr:nth-child(odd),
.code-example > table > thead > tr:nth-child(odd),
.code-example > table > tbody > tr:nth-child(odd) {
    background-color:#fff
}
#doc-content > table > thead > tr:nth-child(even),
#doc-content > table > tbody > tr:nth-child(even),
.code-example > table > thead > tr:nth-child(even),
.code-example > table > tbody > tr:nth-child(even) {
    background-color:#f1f1f1
}
#doc-content > table > tbody tr:hover,
.code-example > table > tbody tr:hover {
    background-color:#becbd2
}
#doc-content > table > thead > tr > th,
#doc-content > table > tbody > tr > td,
.code-example > table > thead > tr > th,
.code-example > table > tbody > tr > td {
    padding:8px 8px;
    display:table-cell;
    text-align:left;
    vertical-align:top;
    border-right: 1px solid #becbd2;
}

#doc-content > table > thead > tr > th:first-child,
#doc-content > table > tbody > tr > td:first-child,
.code-example > table > thead > tr > th:first-child,
.code-example > table > tbody > tr > td:first-child {
    padding-left:16px;
}
#doc-content > table > thead > tr > th,
.code-example > table > thead > tr > th {
    background-color: #7d97a5;
    color: white;
}
/* Table End */


/* Buttons End */
/* Go to top button */
#go-to-top-button {
    display: none;
    position: fixed;
    bottom: 48px;
    right: 32px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px;
    opacity: 50%;
}
#go-to-top-button:hover {
    opacity: 75%;
}
/* Go to top button End */

/* TOC */
#table-of-contents {
    background-color: #dfe5e8;
}
.section-nav {
    margin: 0;
    padding: 0;
    list-style: none;    
}
.section-nav li {
    margin: 0;
    padding-left: 16px;
}
#table-of-contents > h3 {
    margin: 0;
}
.toc-entry:first-child {
    display: none;
}
.toc-entry:hover {
    background-color: #becbd2 !important;
}
.toc-entry a {
    margin-bottom: 0;
    width: 100%;
    display: block;
    padding: 4px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    font-size: 16px;
}
.toc-entry > ul{
    margin: 0;
}
/* TOC End */

#doc-content > h1,
#doc-content > h2,
#doc-content > h3,
#doc-content > h4,
#doc-content > h5,
#doc-content > h6 {
    margin-top: 32px;
    margin-bottom: 16px;
}

#doc-title {
    font-size: 48px;
}

.code-example{
    border: 1px solid #eee;
    padding: 16px;
}

/* Small Screen Style */
@media (max-width:600px) {
    #post-content > div,
    #post-content > div > div  {
        padding: 0;
    }
    #mySidebar {
        display: none;
    }
    #main {
        margin-top: 48px;
        margin-left: 0;
    }
}
/* Small Screen Style End */

/* Large Screen Style */
@media (max-width:993px) {
    
}
/* Large Screen Style End */
